* {
    font-weight: 300;
    font-size: 300px inherit;
    font-family: 'Montserrat', sans-serif;
}

.footer-line {
    width: 60px;
    height: 1px;
    background-color: #7289DA;
    color: #7289DA;
}

.input-pum {
    box-shadow: 0 1px 0 0 #7289DA !important;
    border-bottom: 1px solid #7289DA !important;
}

.label-pum {
    color: #7289DA;
    text-decoration-color: #7289DA;
}

.card-min-width {
    min-width: 50px;
}

.md-form label {
    color: #ffffff
}

.md-form .prefix.active {
    color: #7289DA;
}

.md-form .prefix {
    color: #757575;
}

.md-form label.active {
    color: #7289DA !important;
}

.md-form input[type='text']:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #7289da !important;
    border-bottom: 1px solid #7289DA !important;
}

.md-form input[type='text']:focus:not([readonly]) + label {
    color: #7289DA !important;
}

.my-custom-scrollbar {
    position: relative;
    height: 307px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.text-discord {
    color: #93abff !important;
}

a.text-discord:focus, a.text-discord:hover {
    color: #687cc4 !important;
}

.form-check-input[type=radio].with-gap:checked + label:after, .form-check-input[type=radio].with-gap:checked + label:before, .form-check-input[type=radio]:checked + label:after, label.btn input[type=radio].with-gap:checked + label:after, label.btn input[type=radio].with-gap:checked + label:before, label.btn input[type=radio]:checked + label:after {
    border: 2px solid #7289DA !important;
}

.form-check-input[type=radio].with-gap:checked + label:after, .form-check-input[type=radio]:checked + label:after, label.btn input[type=radio].with-gap:checked + label:after, label.btn input[type=radio]:checked + label:after {
    background-color: #7289DA !important;
}

.btn-custom2 {
    color: #fff !important;
    background-color: #218a3a;
    border-color: #28a745
}

.btn-custom2:active {
    color: #fff !important;
    background-color: #1b7931;
    border-color: #146828
}

.btn-custom3 {
    color: #fff !important;
    background-color: #b62937;
    border: #dc3545;
}

.btn-custom3:active {
    color: #fff !important;
    background-color: #a0232f;
    border: #a0232f;
}

.title {
    font-size: calc(1.525rem + 3.3vw);
}

img {
    max-width: 100%;
    height: auto;
}

.mh-util {
    min-height: 80vh;
}